In [1]:
import pandas as pd
import sqlite3 as sql

In [2]:
def proceso(archivo,base):
  df=pd.read_csv(archivo)

  df.rename(columns={'Y':'Year','Estados Unidos':'EEUU'},inplace=True)
  df.drop(columns='Nigeria',inplace=True)

  conex=sql.connect("base")
  cursor=conex.cursor()

  cursor.execute("""CREATE TABLE IF NOT EXISTS habitantes2
   (Year INT, China real, India real, EEUU real, Indonesia real, Pakistan real, Brasil real)
   """)
  conex.commit()

  df.to_sql('habitantes2', conex, if_exists='replace',index=False)

  cursor.execute("SELECT India FROM habitantes2 WHERE Year = 2021")

  resultados = cursor.fetchall()
  for result in resultados:
    print(result)

  conex.close()

archivo='/content/poblacion.csv'
base='poblacion.db'

proceso(archivo,base)

('1402,81',)